/* Splash */
body {
background-image: url('../assets/img/splash2.jpg');
font-family: 'Uncial Antiqua', cursive;
color:cornsilk;
}

h1 {
  text-align: center;
  font-size: 80px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

h3 {
  margin-top: 15%;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.btn-splash {
  position: relative;
  padding: 25px 35px;
  left: 41%;
  background-color: rgb(148, 179, 11);
  border: solid;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 40px;
  border-radius: 15px;
  box-shadow: 1px 2px rgb(40, 39, 39);
}


.btn-splash:hover {
  background-color: rgba(218, 165, 32, 0.557)
}

/* Character Creation */
label {
  margin-top: 10px;
  margin-left: 30%;
  font-size: 35px;
}

.input-name {
  margin-left: 35%;
  width: 45%;
  font-size: 35px;
}

#class-buttons {
  margin-top: 50px;
}
.btn {
  background-color: rgb(148, 179, 11);
  border: solid;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.btn:hover {
  background-color: rgba(218, 165, 32, 0.557)
}
.btn-class {
  width: 75%;
  table-layout: fixed;
  padding: 10px 35px;
}

.centering {
  display: flex;
  justify-content: center;
}

.btn-confirm {
  width: 30%;
  text-align: center;
  padding: 10px 35px;
}

#character-display {
  float: right;
  margin-top: 25px;
  margin-right: 22%;
}

#selected-class {
  margin-right: 15%;
}

/* Character Stats */
.stat-plus {
  border-radius: 50%;
  text-align: center;
  padding: 10px 20px;
}

.stat-minus {
  border-radius: 50%;
  text-align: center;
  padding: 10px 20px;
}

.stat-num {
  width: 30%;
  font-size: 35px;
}

.btn-stats {
  width: 50%;
  text-align: center;
  margin: 5% 0 5% 0;
}
/* Explore */

.align-item {
  align-items: center;
  
  margin-top: 2%;
}

.display-img {
  width: 450px;
  height: 450px;
}

.player-img {
  width: 450px;
  height: 450px;
}

.box-size {
  height: 500px;
  width: 500px;
}

#battle-buttons, #gameplay, #start-over, #char-class, #char-stats, #explore, #townMap {
  display: none;
}

#message-box {
  display: none;
  height: 300px;
  width: 500px;
  overflow-y: scroll;
  padding: 10px;
  margin-top: 75px;
}

#message-board {
  margin: 5%;
}


#icon-journal {
  height: 100%;
  width: 40px;
  float: right;
}

#nav-main {
  display: none;
  height: 60px;
  border: 1px lightgray solid;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px;
}

#character-menu {
  display: none;
  border: 1px lightgray solid;
  margin-bottom: 30px;
}

.menu-option {
  margin: 10px;
  border: 1px lightgray solid;
  padding: 5px;
}
.card-img-overlay {
  background-image: url(https://i.pinimg.com/originals/84/c3/28/84c32877e97de90347c4847034be496c.jpg);
  background-size: 100% 100%;
}

#townMap {
  height: 900px;
}
