.align-item {
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.display-img {
  width: 450px;
  height: 450px;
}

.player-img {
  width: 450px;
  height: 450px;
}

.box-size {
  height: 500px;
  width: 500px;
}

#battle-buttons, #gameplay, #start-over {
  display: none;
}

#message-box {
  height: 300px;
  width: 500px;
  overflow-y: scroll;
  padding: 10px;
  margin-top: 75px;
}

#message-board {
  margin: 5%;
}

.stat-plus {
  border-radius: 50%;
}

.stat-minus {
  border-radius: 50%;
}
