.align-item {
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.display-img {
  width: 450px;
  height: 450px;
}

.player-img {
  width: 450px;
  height: 450px;
}

.box-size {
  height: 500px;
  width: 500px;
}

#battle-buttons, #gameplay, #start-over {
  display: none;
}

#message-box {
  height: 300px;
  width: 500px;
  overflow-y: scroll;
  padding: 10px;
  margin-top: 75px;
}

#message-board {
  margin: 5%;
}

#icon-journal {
  height: 100%;
  width: 40px;
  float: right;
}

#nav-main {
  display: none;
  height: 60px;
  border: 1px lightgray solid;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px;
}

#character-menu {
  display: none;
  border: 1px lightgray solid;
  margin-bottom: 30px;
}

.menu-option {
  margin: 10px;
  border: 1px lightgray solid;
  padding: 5px;
}